// Container
@media (max-width: 1200px) {
  .read-more-main {
    .container {
      padding-right: 25px;
    }
  }
  .container {
    padding: 0 25px;
  }
  .provide-block {
    &__back-img {
      width: 100%;
      bottom: 0;
      img {
        width: 100%;
        bottom: 0;
      }
      &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background: linear-gradient(#181818de 10%, rgba(255, 255, 255, 0) 60%);
        top: 0;
        left: 0;
      }
    }
  }
}
@media (max-width: 1170px) {
  .container {
    width: 100%;
  }
}
@media (max-width: 1095px) {
  .provide-block {
    padding-bottom: 100px;

    &__inner {
      justify-content: center;
      gap: 50px;
    }
    &__button {
      margin-top: 100px;
    }
  }
  .read-more-main {
    &__back {
      clip-path: polygon(45% 0, 200% 0, 200% 200%, 0 200%, 0 45%);
    }
    &__line {
      clip-path: polygon(45% 0, 44% 0, 0 44%, 0 45%);
    }
  }
}
@media (max-width: 800px) {
  .read-more-main {
    &__back {
      clip-path: polygon(35% 0, 200% 0, 200% 200%, 0 200%, 0 15%);
    }
    &__line {
      clip-path: polygon(35% 0, 34% 0, 0 14%, 0 15%);
    }
    &__list {
      width: 100%;
      max-width: 100%;
    }
    &__close {
      padding-top: 2%;
      padding-left: 2%;
      font-size: 10vw;
      opacity: 1;
    }
  }
}
@media (max-width: 820px) {
  .contact-block {
    height: auto;
    &__form {
      width: 100%;
      min-width: 100%;
      margin-top: 50px;
    }

    &__input,
    &__textarea {
      min-width: 100%;
      width: 100%;
    }
    &__img {
      justify-content: center;
      gap: 50px;
      flex-wrap: wrap;
    }

    &__img-small {
      width: 130px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 12px;
      img {
      }
      span {
        font-family: Roboto;
        font-size: 12px;
        letter-spacing: 0.24px;
        text-align: center;
        color: #898888;
      }
    }
  }
}
@media (max-width: 770px) {
  .provide-block {
    &__back-img {
      display: none;
    }
  }
}
@media (max-width: 700px) {
  .header__inner {
    display: none;
  }
  .header__burger {
    display: flex;
  }
  .date-block {
    min-height: auto;
    padding-bottom: 200px;
    padding-top: 100px;
    img {
      width: 200%;
      right: -42.5%;
    }
    .date-block__container-main {
      display: none;
    }
    .date-block__container-small {
      min-height: auto;
      display: flex;
    }
    &__top-img {
      display: block;
    }
  }
  .team-block {
    min-height: 757px;
    padding-top: 121px;
    &__inner {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 100px;
      padding: 100px 0;
    }

    &__persone {
      width: 400px;
      &:nth-child(2) {
        margin-top: 0px;
      }
      &:nth-child(1),
      &:nth-child(3) {
        margin-top: 0px;
      }
      .team-block__img {
        float: left;
      }
    }
  }
}
@media (max-width: 525px) {
  .main-block {
    height: calc(100vh - 80px);
    // min-height: 100vh;
    padding-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    &__title {
      font-size: 30px;
      line-height: 120%;
    }

    &__subtitle {
      line-height: 120%;
      margin-top: 20px;
    }
  }
  .contact-block {
    padding-top: 70px;
  }
  .footer {
    height: 200px;
  }
}
@media (max-width: 450px) {
  .date-block {
    .date-block__container-small {
      padding-left: 25px;
      padding-right: 25px;
      .date-block__small {
        display: flex;
        max-width: 100%;
        .date-block__small-text {
          font-size: 12px;
          max-width: 350px;
        }
      }
    }
  }
  .team-block {
    padding-top: 50px;
    &__persone {
      width: 200px;
      .team-block__img {
        float: none;
      }
    }
  }
  .title {
    font-size: 25px;
  }
  .subtitle {
    font-size: 14px;
  }
  .provide-block {
    padding-top: 70px;
    &__inner {
      margin-top: 70px;
      justify-content: center;
      gap: 50px;
    }
  }
}
